<VirtualHost *:80>
DocumentRoot {{ document_root }}
ServerName {{ fqdn }}
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
<Directory "{{ document_root }}">
allow from all
Options +Indexes
</Directory>
# ErrorLog /var/log/httpd/{{ fqdn }}/error_log
# CustomLog /var/log/httpd/{{ fqdn }}/access_log combined
</VirtualHost>

<VirtualHost *:443>
DocumentRoot {{ document_root }}
ServerName {{ fqdn }}
<Directory "{{ document_root }}">
allow from all
Options +Indexes
</Directory>
SSLEngine on
SSLCertificateFile /etc/pki/tls/certs/{{ fqdn }}/{{ fqdn }}.crt
SSLCertificateKeyFile /etc/pki/tls/certs/{{ fqdn }}/{{ fqdn }}.key
# SSLCertificateChainFile /etc/pki/tls/certs/{{ fqdn }}/{{ fqdn }}.chain
# ErrorLog /var/log/httpd/{{ fqdn }}/error_log
# CustomLog /var/log/httpd/{{ fqdn }}/access_log combined
</VirtualHost>
